* {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px; }

body {
  box-sizing: border-box;
  text-align: center; }
  body .container .todoList .todos {
    padding: 5px; }
    body .container .todoList .todos .todo {
      background-color: #ebebeb; }
    body .container .todoList .todos .checkComplete, body .container .todoList .todos .checkDelete {
      cursor: pointer; }
    body .container .todoList .todos .checkComplete:hover {
      color: #2ca02c;
      transition: 0.5s; }
    body .container .todoList .todos .checkDelete {
      color: #ac2925; }
  body .container .editList {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 auto; }
    body .container .editList .displayInput {
      font-size: 30px; }
  body .container .addToList {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%); }
    body .container .addToList .addTodoInput {
      display: none;
      margin: 10px;
      background-color: #000000;
      color: #ffffff; }
      body .container .addToList .addTodoInput::placeholder {
        color: #ffffff; }
    body .container .addToList .submitTodoBtn {
      display: none;
      border-radius: 25px;
      box-shadow: 0 3px 0 #555555;
      transition: box-shadow 0.1s, top 0.1s; }
    body .container .addToList .submitTodoBtn:active {
      bottom: 17px;
      box-shadow: 0 1px 0 #555555;
      text-decoration: none;
      border: none; }
